# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/

# Gradle
.gradle/
build/

# Arquivos compilados
*.class

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Variáveis e arquivos sensíveis
.env
application-local.properties
application-local.yml